<div class="container-fluid">
    <div class="box">
        <DIV class="childbox">
            <div class="subbox" style="display: flex; ">
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <div style="padding-left: 10px; padding-top: 21px;">
                    <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia </p>
                    <p style="font-size: 12px;">#VC313456 </p>
                    <p style="font-size: 12px;"> 24/12/22</p>
                </div>
            </div>
            <div class="subbox">
                <a routerLink="/super-admin-edit-profile.component"> <img src="assets/images/edit.jpg" alt=""
                        style="height: 30px; width: 30px; margin-top: 29px;"></a>
            </div>
        </DIV>
    </div>
    <div class="box">
        <div class="imgbox">
            <img src="assets/images/Group 801.svg" alt=""
                style="height: 12px; width: 76px;margin-top: 16px;margin-left: 10px;">
        </div>
        <div>
            <img src="assets/images/Group 931.svg" alt="" style="height: 16px; width: 101px;margin-top: 26px;">
        </div>
        <div>
            <p style="font-size: 12px;    padding-top: 19px;"><span style="font-weight: 700;">Address:</span> <span
                    style="color: gray;">2406, Hardhyan Singh Marg, Block 37J, Nai Walan, Karol Bagh, New Delhi, Delhi
                    110005</span></p>
        </div>
    </div>
    <div class="box">
        <div class="ponebox">
            <div class="subphonebox">
                <a href="" style="text-decoration: none;"> <img src="assets/images/phone1.svg" alt=""> <span
                        style="color: black;font-size: 12px;padding-left: 4px;font-weight: 500;">+91 99998
                        05331</span></a>
            </div>
            <div class="subphonebox">
                <a href="" style="text-decoration: none;">
                    <p style="padding-left: 67px;"><img src="assets/images/whatsapp1.svg" alt=""><span
                            style="color: black;font-size: 12px;padding-left: 4px; font-weight: 500;">+91 98111
                            44961</span></p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid3">
    <h1 class="h1">Order Setting</h1>
    <div class="settingbar">
        <a routerLink="/superadmin-setting-brand.component" style="text-decoration: none; color: black;">
            <p style="font-size: 14px; font-weight: 700;">Brand</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-setting-categories.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Categories</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/super-admin-add-seasons.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Seasons</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-setting-gender.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Gender</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-setting-size.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Sizes</p>
        </a>
        <hr style="margin-top: 8px;">

    </div>
    <h1 class="h2"> Reports</h1>
    <div class="settingbar">
        <a routerLink="/super-admin-order-history.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Orders</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-payment-reportdate.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar" style="color: black; text-decoration: none;">Payment</p>
        </a>
        <hr style="margin-top: 8px;">
    </div>
    <h1 class="h2"> Approvals</h1>
    <div class="settingbar">
        <a routerLink="/supperadmin-orderplace-merchant.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Orders Placed</p>
        </a>
    </div>
    <h1 class="h2"> Update</h1>
    <div class="settingbar">
        <a routerLink="/superadmin-termand-condition.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Terms & Conditions</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-privacy-policy.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Privacy Policy</p>
        </a>
        <hr style="margin-top: 8px;">
        <a routerLink="/superadmin-edit-review.component" style="color: black; text-decoration: none;">
            <p class="subsettingbar">Review and Rating</p>
        </a>
        <hr style="margin-top: 8px;">
    </div>
    <div class="settingbar">
        <button class="logout"><img src="assets/images/power-off.png"
                style="height: 17px; margin-right: 7px; margin-top: -2px;"><span>LOGOUT</span></button>
        <p style="font-size: 10px;padding-top: 2px;">V 1.0.1</p>
    </div>
    <div class="border1"></div>
</div>



<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6 style="font-size: 11px;">New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg"
                    width="37px;"></a>
            <h6 style="font-size: 11px;">Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg"
                    width="37x;"></a>
            <h6 style="font-size: 11px;">Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/My profile.svg"
                    width="32px;"></a>
            <h6 style="font-size: 11px;">User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">Setting</h6>
        </div>
    </div>
</div>