<div class="main2">
    <div class="reverse"><a href="javascript:history.back()"><img src="assets/images/back.svg" width="100%;"></a></div>
    <div class="title">
        <h2>Edit Profile</h2>
    </div>
    <div class="home">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="31px;"></a>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row" style="align-items: center;">
        <div class="col-md-7 col-lg-7 col-sm-7 box" style="width: 65%;">
            <div class="logoimg">
                <img src="assets/images/loggo.png" width="100%;">
            </div>
            <div class="about">
                <h6>BoutiquesAsia</h6>
                <p>#VC313456</p>
                <p>24/12/22</p>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5" style="width: 35%;text-align: right;"> </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <label for="text-field">Name</label>
            <input type="name" class="form-control" id="name" placeholder="" name="name" formControlName="name" value="BoutiquesAsia">
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="text-field">Phone</label>
            <input type="phone" class="form-control" id="phone" placeholder="" name="phone" formControlName="phone" value="9999805331">
        </div>
        <div class="col">
            <label for="text-field">WhatsApp</label>
            <input type="phone" class="form-control" id="phone" placeholder="" name="phone" formControlName="phone" value="9811144961">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col" style="text-align: right;">
            <button type="submit" class="btn7">SUBMIT</button>
        </div>
    </div>

</div>