<div class="container-fluid">
    <img src="assets/images/gff.jpg" alt="" class="img1">

    <div>
        <p style="color: #C51724;font-size: 14px;font-weight: 700; text-align: center; padding-top: 6px;">BoutiquesAsia &nbsp; |&nbsp; #BA56342</p>

        <div style="padding-top: 13px;">
            <input type="button" value="Review History" class="btn"> <input type="button" value="Sample Description" class="btn2">
        </div>
        <p style="text-align: center;padding-top: 9px;"><span style="color: #000000; font-weight: 300; font-size: 15px;">Style No.:</span> <span style="color: #000000; font-weight: 600; font-size: 15px;">SW 5300</span> <br> <span style="color: #116418;"> COMPLETED</span></p>
    </div>
    <div class="border-container">
    </div>
</div>

<!-- product div -->
<div class="container-fluid2">
    <div class="box">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        </div>
        <div class="subbox">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Re-Submitted: 14/11/22</p>
            <p style="color: #000000;font-size: 12px; font-weight: 600; padding-left: 12px;">Reviewed on: 14/11/22 | Kritika </p>
            <p style="color: #000000;font-size: 12px; font-weight: 600; padding-left: 12px;"> Feedback:</p>
            <input type="submit" value="APPROVED" class="btn3">
        </div>
    </div>
    <div class="box1" style="margin-top: 20px; display: flex;">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        </div>
        <div class="subbox">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Re-Submitted: 14/11/22 </p>
            <p style="color: #C51724;font-size: 12px; font-weight: 600; padding-left: 12px;">Comment: </p>
            <textarea name="" id="" class="firstinp">I have done the button changes as per your desire</textarea>
        </div>
    </div>
    <div class="box1" style="margin-top: 20px; display: flex;">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        </div>
        <div class="subbox">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Re-Submitted: 14/11/22 </p>
            <p style="color: #C51724;font-size: 12px; font-weight: 600; padding-left: 12px;">Comment: </p>
            <textarea name="" id="" class="firstinp">I have done the button changes as per your desire</textarea>
        </div>
    </div>
    <div class="box1" style="margin-top: 20px; display: flex;">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px; display: none;">
        </div>
        <div class="subbox1">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Reviewed on: 28/10/22 | Rocky </p>
            <p style="color: #000000;font-size: 12px; font-weight: 600; padding-left: 12px;"> Feedback:</p>
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px; padding-left: 12px;">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Reviewed on: 14/11/22 | Kritika </p>
            <p style="color: #000000;font-size: 12px; font-weight: 600; padding-left: 12px;"> Feedback:</p>
            <textarea name="" id="" class="firstinp">I have done the button changes as per your desire</textarea>
        </div>
    </div>
    <div class="box1" style="margin-top: 20px; display: flex;">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        </div>
        <div class="subbox">
            <p style="color: #C51724; font-size: 12px;font-weight: 600; padding-left: 12px;">Reviewed on: 14/11/22 | Kritika</p>
            <p style="color: #000000;font-size: 12px; font-weight: 600; padding-left: 12px;"> Feedback:</p>
            <textarea name="" id="" class="firstinp2">Next, put the garment on a form which reflects your base size. Begin evaluating the fit by looking for drag lines and stress points. Ensure that the garment is laying correctly on the form before you begin making fit changes. If you need to check the movement or function of the garment you can fit it on a model who closely compares to your base size.</textarea>
        </div>
    </div>
</div>

<div class="container-fluid3">
    <div class="buttonclass" style="display: flex; justify-content: center;">
        <input type="button" value="REPEAT ORDER" class="btn6">
    </div>
</div>
<!--End product div -->