<div class="container-fluid">
    <div class="box">
        <p style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et condimentum diam, vitae ultricies eros. Sed posuere enim sed tortor tempus, ut egestas augue blandit. Donec eu nunc erat. Etiam sed massa nec diam volutpat semper nec a sem.
            Nulla feugiat ipsum tellus, elementum maximus lectus tincidunt non. Pellentesque tempus dapibus ex, et lacinia sapien gravida sit amet. Proin suscipit quis lacus quis pharetra. Morbi ac felis id turpis luctus lacinia. Curabitur fermentum lobortis
            eros non auctor. Vivamus lobortis massa at ipsum ullamcorper, eu vestibulum est gravida. Nunc sollicitudin et metus porta accumsan. Proin porta eros libero, in viverra nisi euismod nec. Nam elit leo, fermentum eget hendrerit gravida, ullamcorper
            et metus. Proin vel gravida urna. Suspendisse eu enim et ex convallis aliquam fringilla ut est. Integer blandit sapien quis lorem bibendum, a aliquam dolor gravida. Sed at enim at massa ultrices venenatis nec eget ex. Nullam porttitor sed
            est vel bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non laoreet elit. Aenean at vulputate metus, porta facilisis lorem. Donec convallis velit ut enim vestibulum maximus. Vivamus sit amet rutrum sem, eu consequat
            purus. Aliquam egestas enim quam, a luctus massa eleifend eget. Mauris ex quam, malesuada nec quam eget, aliquet tincidunt dolor. Proin mollis quam ut felis dapibus varius.</p>
    </div>
    <div class="box2">
        <img src="assets/images/edit.jpg" alt="" class="img1">
    </div>
</div>