
<div class="container-fluid main">
    <div class="row .mb-3">
        <a routerLink="/addproduct.component"><button type="button" class="btn">Add Products</button></a>
    </div>
    <div class="row .mb-3"><a routerLink="/products.component"><button type="button" class="btn1">Products Overview</button></a></div>
    <div class="row .mb-3"><a routerLink="/registeruser.component"><button type="button" class="btn2">Register User</button></a></div>
    <div class="row .mb-3"><a routerLink="/userdetails.component"><button type="button" class="btn6">View Users</button></a></div>
    <div class="row .mb-3"><a routerLink="/getalltransationdata.component"><button type="button" class="btn6">Get All Transaction Data</button></a></div>
</div>




