body{
    font-family: lato !important;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
   
}
.main{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 84vh;
}
.btn{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 44px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
  }
  .btn1{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 57px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
  }
  .btn2{
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 89px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
  }
  .mb-3{
    margin-bottom: 20px;
  }
  h3{
    font-family: 'Lato';
    font-size: 18px;
    color: #000;
  }
  .btn6 {
    color: #fff;
    background: #c51724;
    border: 1px solid #fff;
    padding: 11px 88px;
    font-size: 17px;
    border-radius: 13px;
    cursor: pointer;
}






























  @media only screen and (max-width: 600px) {
    .main {
        justify-content: center;
        align-items: center;
        display: grid;
        height: 78vh;
    }
    
    .btn1 {
      
      padding: 11px 24px;
  }
  .btn2 {
    
    padding: 11px 44px;
    
}
.btn6 {
 
  padding: 11px 53px;
}


  }
