<div class="container-fluid main1">
    <div class="row reverse">
        <a href="javascript:history.back()"><img src="assets/images/back.svg" width="120%;"></a>
    </div>
    <div class="title">
        <h2 style="font-size:20px;">Sample Details</h2>
    </div>
    <div class="row home">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="28px;"></a>
    </div>
</div>



<form [formGroup]="superForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="container-fluid" style="padding: 16px 20px 30px 20px;">
        <div class="row mb-4">
            <!-- <div class="file-upload"
                style="background-image: url(http://103.139.59.165:8085/image/{{superForm.value.file1}});background-repeat: no-repeat;background-position: center;background-size: cover;">


                <div class="image-upload-wrap">
                    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-upload-input"
                         id="topimage" formControlName="topimage" required>
                    <img [src]="imageSrc" *ngIf="imageSrc" style="height:300px;width:100%;">
                    <div class="drag-text">
                        <img src="assets/images/icon.png" width="50px;">
                        <h3>Uplaod Images</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" class="remove-image">Remove <span class="image-title">Uploaded
                                Image</span></button>
                    </div>
                </div>


            </div> -->
            <div class="col">

                <img src="{{imgConfig}}/{{allImages[0]}}" width="100%;height:300px;" formControlName="file1">

            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h3 style="text-align: center;font-size: 20px;color: #c51724;">{{superForm.value.vendorid.firstName}} |#{{superForm.brandid}}{{superForm.brandnumber}}
                </h3>
            </div>
        </div>
        <div class="row mt-3 mb-3" style="padding: 0px 38px;text-align: center;">
            <div class="col-md-6 col-lg-6 col-sm-6" style="width: 50% !important;text-align:center;">
                <button type="button" class="btn tablinks" (click)="openCityLondon('Lodon')" style="padding: 7px 22px !important;color: #c51724;font-size: 13px;border-color: #c51724;background: #fff;;">Review
                    History</button>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6" style="width: 50% !important;">
                <button type="button" class="btn2 tablinks" (click)="openCitytokyo('Tokyo')">Sample
                    Description</button>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <h3 style="text-align: center;font-size: 20px;color: #c51724;">Style No. {{superForm.brandid}}{{superForm.brandnumber}}
                    <br><span style="color:green">Approved</span></h3>
            </div>
        </div>
        <div id="London" style="padding: 0px;display:none;">
            <div class="row" style="margin:0px 0px;">
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="text-field">Style No.</label>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6" style="width: 40% !important;">
                            <select class="form-select" id="brandid" formControlName="brandid">

                                <option *ngFor="let element of brandidval" [value]="element.id">
                                    {{element.name}}
                                </option>

                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6" style="width: 58% !important;">
                            <input type="number" class="form-control" id="brandnumber" placeholder="" formControlName="brandnumber">
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Brand</label>
                    <select class="form-select" id="brand" formControlName="brand">
                        <option *ngFor="let element of brandvalue" [value]="element.id">
                            {{element.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin:21px 0px;">
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Category</label>
                    <select class="form-select" id="category" formControlName="category">
                        <option *ngFor="let element of categoryvalue" [value]="element.id">
                            {{element.name}}
                        </option>
                    </select>
                </div>


            </div>

            <div class="row" style="margin:20px 0px;">

                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Season</label>
                    <select class="form-select" id="season" formControlName="season" required>
                        <option *ngFor="let element of seasonvalue" [value]="element.id">
                            {{element.name}}
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="text-field">Designer</label>
                    <input type="name" class="form-control" id="designer" placeholder="" name="designer" formControlName="designer">
                </div>


            </div>
            <div class="row1">
                <div class="column">

                    <label>Gender</label><br>
                    <div style="display:flex;">
                        <div class="check" required>
                            <input type="radio" class="checked" id="male" value="M" formControlName="gender"> &nbsp;&nbsp;
                            <label class="custom-control" for="male">Male</label>
                        </div>
                        <div class="check">
                            <input type="radio" class="" id="female" formControlName="gender" value="F"> &nbsp;&nbsp;
                            <label class="custom-control" for="gender">Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border1">Design Description</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Fabric</label><br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" id="fabric" name="fabric" formControlName="fabric"></textarea>
                </div>
            </div>
            <div class="row1" style="margin-top: 30px;">
                <div class="column" required>

                    <label style="margin-bottom: 6px;">Size</label><br>
                    <div style="display:flex;">
                        <div class="check1"><input type="checkbox" class="checkbox" id="s" formControlName="s">
                            <span style="font-size: 18px;">&nbsp;&nbsp;S</span>
                        </div>
                        <div class="check1"><input type="checkbox" class="checkbox" formControlName="m" id="m">
                            <span style="font-size: 18px;">&nbsp;&nbsp;M</span>
                        </div>
                        <div class="check1"><input type="checkbox" class="checkbox" formControlName="l" id="l">
                            <span style="font-size: 18px;">&nbsp;&nbsp;L</span>
                        </div>
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="xl" id="xl">
                            <span style="font-size: 18px;">&nbsp;&nbsp;XL</span>
                        </div>
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="twoxl" id="twoxl">
                            <span style="font-size: 18px;">&nbsp;&nbsp;2XL</span>
                        </div>
                    </div>
                    <div style="display:flex;">
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="threexl" id="threexl"> <span style="font-size: 18px;">&nbsp;&nbsp;3XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="fourxl" id="fourxl"> <span style="font-size: 18px;">&nbsp;&nbsp;4XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="fivexl" id="fivex">
                            <span style="font-size: 18px;">&nbsp;&nbsp;5XL</span>
                        </div>
                        <div class="check2"><input type="checkbox" class="checkbox" formControlName="sixxl" id="sixxl">
                            <span style="font-size: 18px;">&nbsp;&nbsp;6XL</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row2" style="margin-top: 29px;">
                <label style="margin-bottom: 8px;">Colors</label><br>
                <div class="col">
                    <img src="http://103.139.59.165:8085/image/{{superForm.file2}}" width="30%;height:160px;">
                </div>
                <div class="column">
                    <!-- <label class="picture" for="picture__input" tabindex="0"
                    style="background-image: url(http://103.139.59.165:8085/image/{{superForm.value.file2}});background-repeat: no-repeat;background-position: center;background-size: cover;">
                    Upload <br>Image
                </label> -->

                    <!-- <input type="file" (change)="onFileSelectBottom($event)"  id="picture__input"
                    style="display:none;" formControlName="pictureinput" required> -->
                    <input id="textaa" type="text" style="width: 103px;padding: 7px;margin-top: 10px;" formControlName="color">
                </div>

            </div>

            <div class="row" style="margin-top: 25px;">
                <div class="col">
                    <h3 class="border1">Prospected Price</h3>
                </div>
            </div>
            <div class="row" style="display:flex !important;align-items: center;">
                <div class="col" style="display: flex;align-items: center;">
                    <img src="assets/images/Group 562.svg" style="width: 13%;height: 40px;"> &nbsp;
                    <input type="number" class="form-control" id="price" placeholder="" name="price" formControlName="price" style="width: 66%;margin-left: 14px;">
                </div>
                <div class="col" style="width: 30%;">
                    <h4>/ Piece</h4>
                </div>
            </div>
            <div class="row" style="padding: 29px 0px 134px 0pX;align-items:center;display: flex;">

                <div class="col"> <a href="/placeorder.component?proddata={{this.productdata.id}}"><span
                            class="btn">PLACE ORDER</span></a></div>
                <div class="col" style="text-align:right;"><img src="https://cdn-icons-png.flaticon.com/512/4726/4726010.png" width="30px;"></div>


            </div>
        </div>
    </div>
    <div id="Tokyo" class="" style="padding: 0px 22px;">
        <div class="row" *ngFor="let item of  allImages ; let i = index">
            <div class="row mt-4" *ngIf="item != null">
                <div class="col-md-4 col-sm-4 col-lg-4" style="width: 30%;">
                    <img src="{{imgConfig}}/{{item}}" style="height: 90px; width: 90px;">
                </div>
                <div class="col-md-8 col-sm-8 col-lg-8" style="width: 66%;">
                    <p>Re-Submitted: 14/11/22</p>
                    <p>Comment:</p>
                    <h6 class="feed">I have done the button changes as per your desire.</h6><br>
                    <h6 style="margin-bottom:10px;">Reviewed on: 28/10/22 | Rocky Feedback:</h6>
                    <img src="{{imgConfig}}/{{item}}" style="margin-bottom:10px;height: 90px; width: 90px;"><br>
                    <h6 style="margin-bottom:10px;">Reviewed on: 14/11/22 | Kritika Feedback:</h6>
                    <h6 class="feed" style="font-weight:300;">Next, put the garment on a form which reflects your base size.
                    </h6>
                </div>
            </div>
            <div *ngIf=null></div>
        </div>

        <div class="row" style="padding: 29px 0px 134px 0pX;align-items:center;display: flex;">

            <div class="col"> <a href="/placeorder.component?proddata={{this.productdata.id}}"><span class="btn">PLACE
                        ORDER</span></a></div>
            <div class="col" style="text-align:right;"><img src="https://cdn-icons-png.flaticon.com/512/4726/4726010.png" width="30px;"></div>


        </div>

    </div>
</form>










<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6>New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superorder.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6>Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superreapet.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6>Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superprofile.component"><img src="/assets/images/1.1.svg" width="35px;"></a>
            <h6>User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superadminprofile.component"><img src="/assets/images/1.2.svg" width="35px;"></a>
            <h6>My Profile</h6>
        </div>
    </div>
</div>