<div class="container-fluid">
    <div class="box">
        <button class="btn" (click)="openCity1('sachin')">DATE</button>
        <button class="btn" (click)="openCity2('aman')">MONTHLY</button>
        <button class="btn" (click)="openCity3('pooja')">QUARTERLY</button>
        <button class="btn" (click)="openCity4('laxmi')">YEARLY</button>
    </div>








    <!-- show data here -->
    <div class="container-fluid2" id="sachin">
        <div class="subcontainer">
            <div class="box1">
                <label for="" style="font-size: 14px; font-weight: 600;">Period Type</label> <br>
                <select name="" id="" class="sel1">
                    <option value="">DATE</option>
                    <option value="">DATE</option>
                    <option value="">DATE</option>
                    <option value="">DATE</option>
                    <option value="">DATE</option>
                </select>
            </div>
            <div class="box1">
                <div style="padding-top: 24px; ">
                    <a href="" style="color: #C51724; font-size: 12px;font-weight: 600;">Last 7 Days</a>
                </div>
            </div>
        </div>



        <div class="subcontainer2">
            <div class="box2">
                <label for="" style="font-weight: 600; font-size: 14px;">Date</label> <br>
                <input type="datetime-local" name="" id="" placeholder="From" class="inp">
            </div>
            <div class="box2">
                <input type="datetime-local" name="" id="" placeholder="From" class="inp1"> <br>
                <button class="btn2">DONE</button>
            </div>
        </div>



        <div class="subcontainer3">
            <div class="box3">
                <img src="assets/images/pdf.png" alt="" class="img1">
                <img src="assets/images/pdf.png" alt="" class="img1">
            </div>
            <div class="box3">
                <p style="color: #116418; font-size: 18px; font-weight: 600;">INR 2,21,000</p>
            </div>
        </div> <br>

        <div class="box6">
            <div class="p1">
                <p>Date</p>
            </div>
            <div class="p1">
                <p>Vendor</p>
            </div>
            <div class="p1">
                <p>Order ID</p>
            </div>
            <div class="p1">
                <p>Qty</p>
            </div>
            <div class="p1">
                <p>Amount</p>
            </div>
        </div>
        <hr style="margin-top: 14px; color: black;">

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">24/11/22</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Oley 2</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">24/11/22</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Oley 2</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">24/11/22</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Oley 2</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">24/11/22</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Oley 2</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">24/11/22</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Oley 2</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
    </div>
    <!--End show data here -->





    <!-- monthely area -->
    <div class="container-fluid2" id="aman" style="display: none;">
        <div class="subcontainer">
            <div class="box1">
                <label for="" style="font-size: 14px; font-weight: 600;">Period Type</label> <br>
                <select name="" id="" class="sel1">
                    <option value="">MONTHELY</option>
                    <option value="">MONTHELY</option>
                    <option value="">MONTHELY</option>
                    <option value="">MONTHELY</option>
                    <option value="">MONTHELY</option>
                </select>
            </div>
            <div class="box1">
                <div style="padding-top: 24px; ">
                    <a href="" style="color: #C51724; font-size: 12px;font-weight: 600;">Last 7 Days</a>
                </div>
            </div>
        </div>



        <div class="subcontainer2">
            <div class="box2">
                <label for="" style="font-weight: 600; font-size: 14px;">Date</label> <br>
                <input type="datetime-local" name="" id="" placeholder="From" class="inp">
            </div>
            <div class="box2">
                <input type="datetime-local" name="" id="" placeholder="From" class="inp1"> <br>
                <button class="btn2">DONE</button>
            </div>
        </div>

        <div class="subcontainer3">
            <div class="box3">
                <img src="assets/images/pdf.png" alt="" class="img1">
                <img src="assets/images/pdf.png" alt="" class="img1">
            </div>
            <div class="box3">
                <p style="color: #116418; font-size: 18px; font-weight: 600;">INR 8.92,000</p>
            </div>
        </div>
        <br>
        <div class="box6">
            <div class="p1">
                <p>Month</p>
            </div>
            <div class="p1">
                <p>Qty</p>
            </div>
            <div class="p1">
                <p>Amount</p>
            </div>

        </div>
        <hr style="margin-top: 14px; color: black;">

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">January</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">January</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">January</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">January</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>


        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">January</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">#BA43156</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
    </div>
    <!--End monthely area -->



    <!-- QUARTERLY area -->
    <div class="container-fluid2" id="pooja" style="display: none;">
        <div class="subcontainer">
            <div class="box1">
                <label for="" style="font-size: 14px; font-weight: 600;">Period Type</label> <br>
                <select name="" id="" class="sel1">
                    <option value="">QUARTERLY</option>
                    <option value="">QUARTERLY</option>
                    <option value="">QUARTERLY</option>
                    <option value="">QUARTERLY</option>
                    <option value="">QUARTERLY</option>
                </select>
            </div>
            <div class="box1">
                <div style="padding-top: 24px; ">
                    <a href="" style="color: #C51724; font-size: 12px;font-weight: 600;">Last 7 Days</a>
                </div>
            </div>
        </div>



        <div class="subcontainer2">
            <div class="box2">
                <label for="" style="font-weight: 600; font-size: 14px;">Date</label> <br>
                <input type="datetime-local" name="" id="" placeholder="From" class="inp">
            </div>
            <div class="box2">
                <input type="datetime-local" name="" id="" placeholder="From" class="inp1"> <br>
                <button class="btn2">DONE</button>
            </div>
        </div>

        <div class="subcontainer3">
            <div class="box3">
                <img src="assets/images/pdf.png" alt="" class="img1">
                <img src="assets/images/pdf.png" alt="" class="img1">
            </div>
            <div class="box3">
                <p style="color: #116418; font-size: 18px; font-weight: 600;">INR 20,21,000</p>
            </div>
        </div>
        <br>
        <div class="box6">
            <div class="p1">
                <p>Quarter</p>
            </div>
            <div class="p1">
                <p>Qty</p>
            </div>
            <div class="p1">
                <p>Amount</p>
            </div>

        </div>
        <hr style="margin-top: 14px; color: black;">

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Quarter</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Quarter</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Quarter</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Quarter</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">Quarter</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
    </div>
    <!--End QUARTERLY area -->

    <!-- YEARLY area -->
    <div class="container-fluid2" id="laxmi" style="display: none;">
        <div class="subcontainer">
            <div class="box1">
                <label for="" style="font-size: 14px; font-weight: 600;">Period Type</label> <br>
                <select name="" id="" class="sel1">
                    <option value="">YEARLY</option>
                    <option value="">YEARLY</option>
                    <option value="">YEARLY</option>
                    <option value="">YEARLY</option>
                    <option value="">YEARLY</option>
                </select>
            </div>
            <div class="box1">
                <div style="padding-top: 24px; ">
                    <a href="" style="color: #C51724; font-size: 12px;font-weight: 600;">Last 7 Days</a>
                </div>
            </div>
        </div>



        <div class="subcontainer2">
            <div class="box2">
                <label for="" style="font-weight: 600; font-size: 14px;">Date</label> <br>
                <input type="datetime-local" name="" id="" placeholder="From" class="inp">
            </div>
            <div class="box2">
                <input type="datetime-local" name="" id="" placeholder="From" class="inp1"> <br>
                <button class="btn2">DONE</button>
            </div>
        </div>

        <div class="subcontainer3">
            <div class="box3">
                <img src="assets/images/pdf.png" alt="" class="img1">
                <img src="assets/images/pdf.png" alt="" class="img1">
            </div>
            <div class="box3">
                <p style="color: #116418; font-size: 18px; font-weight: 600;">INR 14,06,21,000</p>
            </div>
        </div>
        <br>
        <div class="box6">
            <div class="p1">
                <p>Year</p>
            </div>
            <div class="p1">
                <p>Qty</p>
            </div>
            <div class="p1">
                <p>Amount</p>
            </div>

        </div>
        <hr style="margin-top: 14px; color: black;">

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">2020</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">2020</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">2020</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">2020</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>

        <div class="box7">
            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">2020</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">212</p>
            </div>

            <div>
                <p style="font-size: 10px; padding-top: 14px; font-weight: 700;">INR 22,000</p>
            </div>
        </div>
    </div>
    <!--End YEARLY area -->



</div>