<div class="container-fluid">
    <div class="box">
        <img src="assets/images/gff.jpg" alt="" height="102px" width="102px">
        <div style="padding-left: 10px;">
            <p style="color: #C51724;font-size: 12px;">BoutiquesAsia</p>
            <p style="font-size: 12px;"> #VC313456</p>
            <p style="font-size: 12px;"> 24/12/22</p>
        </div>
    </div>

    <div class="box">
        <div class="imgbox">
            <img src="assets/images/Group 801.svg" alt=""
              class="firstimg">
        </div>
        <DIV> <a routerLink="/super-admin-notification.component"><input type="submit" value="Browse" class="btn2"></a></DIV>
    </div>

    <div class="box1">
        <div>
            <img src="assets/images/Group 931.svg" alt="" style="height: 16px; width: 101px;margin-top: 6px;">
        </div>
        <div>
            <DIV> <a routerLink="/super-admin-notification.component"><input type="submit" value="Browse" class="btn3"></a></DIV>
        </div>
    </div>

    <div class="box">
        <div>
            <label for="" style="font-weight: 600; font-size: 12px;" class="address">Address:</label>
            <textarea name="" id=""
                class="text">2406, Hardhyan Singh Marg, Block 37J, Nai Walan, Karol Bagh, New Delhi, Delhi 110005</textarea>
        </div>
    </div>

    <div class="box">
        <div>
            <label for="" style="font-weight: 600; font-size: 12px;">Mobile</label> <input type="text" class="inp" placeholder="9999805331" >
        </div>
        <div>
            <label for="" style="font-weight: 600;font-size: 12px;" class="labe1">WhatsApp</label> <input type="text" class="inp1" placeholder="9811144961" >
        </div>
    </div>
</div>


<div class="container-fluid2">
    <div class="box3">
         <input type="button" value="SUBMIT" class="btn4">
    </div>
    

</div>