<div class="container-fluid header" id="mainhead">
    <div class="row">
        <div class="col logo">
            <a routerLink="/"><img src="assets/images/Group 801.svg" width="150px;"></a>
        </div>
        <div class="col icon">
            <a href="#"><img src="assets/images/phone.svg" width="100%;"></a>
            <a href="#"><img src="assets/images/whatsapp.svg" width="100%;"></a>
            <a href="#"><img src="assets/images/bell.svg" width="100%;"></a>
        </div>
    </div>
</div>



<div>

    <router-outlet> </router-outlet>

    <div class="container-fluid sticky" id="mainfoot">
        <div class="row" style="justify-content: center !important;margin: 0px;">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <a routerLink="/vendorhome.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
                <h6>New Design</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <a routerLink="/orderhistory.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
                <h6>Order History</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <a routerLink="/products.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
                <h6>Repeat Order</h6>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <a routerLink="/myprofile.component"><img src="/assets/images/My profile.svg" width="32px;"></a>
                <h6>My Profile</h6>
            </div>
        </div>
    </div>
    <div>




    </div>