.main1{
    display: flex;
    padding: 17px 0px;
    background: #c51724;
    justify-content: space-around;
    align-items: self-end;
  }
  .title {
    color: #fff;
    text-align: center;
    font-weight: bold;
}
ul li{
    font-size: 12px;
    color: #000;
    font-family: lato !important;
    list-style: none;
    padding-bottom: 5px;
}
ul{
    padding: 8px;
}
.content{
    margin-top: -10px;
}
.bd{
    border-image: linear-gradient(to right, #c51724, #fff) 1;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    margin-bottom: 20px;
}
.btn4{
    padding: 9px 26px;
    background: #c51724;
    color: #fff;
    border: 0.25px solid #0009;
    border-radius: 8px;
}
h1,h2,h3,h4,h5,h6{
    font-family: lato !important;
      font-weight: normal;
  }