<div class="main1">
    <div class="reverse"><a href="javascript:history.back()"><img src="assets/images/back.svg" width="100%;"></a></div>
    <div class="title">
        <h2>Sample Detail</h2>
    </div>
    <div class="home">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="31px;"></a>
    </div>
</div>
<div class="container" style="padding-bottom: 100px;">
    <div class="row mt-3" style="text-align:center;">
        <div class="col">
            <img src="assets/images/Banner top.png  ">
        </div>
    </div>
    <div class="row" style="text-align:center;margin-top: 5px;">
        <div class="col">
            <p style="color:#FFBE00;">IN PROCESS</p>
        </div>
    </div>
    
    <div class="row bd">
        <div class="col">
            <ul>
                <li>Job Order No.: <strong>#GP985</strong></li>
                <li>Style No.: <strong>SW 5300</strong></li>
                <li>Merchandiser: <strong>Sunny</strong></li>
                <li>Category: <strong>Sweat Shirt</strong></li>
                <li>Gender: <strong>Female</strong></li>
                <li>Amount: <strong>INR 22,000</strong></li>
            </ul>
        </div>
        <div class="col" style="text-align: right;">
            <ul>
            <li>Brand: <strong>Elomelo</strong></li>
            <li>Dated: <strong>12/11/22</strong></li>
            <li>Delivery: <strong>12/12/22</strong></li>
            <li>QTY: <strong>340</strong></li>
            <li>Sizes: <strong>M, L, XL, 2XL</strong></li>
        </ul></div>
    </div>
    <div class="row">
        <div class="col" style="display: flex;">
            <div class="image">
                <img src="assets/images/Bottom.png">
            </div>
            <div class="content">
                <ul>
                    <li>SW 5300 BLACK</li>
                    <li>BLACK</li>
                    <li><strong>M:22 L:22 XL:22 2XL:22</strong></li>
                    <li><strong>QTY: 88</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex;">
            <div class="image">
                <img src="assets/images/Bottom.png">
            </div>
            <div class="content">
                <ul>
                    <li>SW 5300 BLACK</li>
                    <li>BLACK</li>
                    <li><strong>M:22 L:22 XL:22 2XL:22</strong></li>
                    <li><strong>QTY: 88</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex;">
            <div class="image">
                <img src="assets/images/Bottom.png" width="auto">
            </div>
            <div class="content">
                <ul>
                    <li>SW 5300 BLACK</li>
                    <li>BLACK</li>
                    <li><strong>M:22 L:22 XL:22 2XL:22</strong></li>
                    <li><strong>QTY: 88</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="display: flex;">
            <div class="image">
                <img src="assets/images/Bottom.png">
            </div>
            <div class="content">
                <ul>
                    <li>SW 5300 BLACK</li>
                    <li>BLACK</li>
                    <li><strong>M:22 L:22 XL:22 2XL:22</strong></li>
                    <li><strong>QTY: 88</strong></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <a routerLink="/sample.component"><button type="button" class="btn4">Sample History</button></a>
        </div>
        <div class="col"></div>
    </div>
</div>
