<div class="main1">
    <div class="reverse"><a href="javascript:history.back()"><img src="assets/images/back.svg" width="120%;"></a></div>
    <div class="title">
        <h2 style="font-size:20px;">Sample Detail</h2>
    </div>
    <div class="home">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="28px;"></a>
    </div>
</div>


<form [formGroup]="editForm" (ngload)="onedit()">
    <div class="container-fluid" style="padding: 16px 0px;">
        <div class="row" style="padding: 0px 22px;">
            <div class="file-upload uploadback">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                    <div class="drag-text">
                        <img src="assets/images/icon.png" width="50px;">
                        <h3>Uplaod Images</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row" style="text-align: center;">
            <div class="col">
                <img src="{{imgConfig}}/images/{{file1}}" width="350px;" height="250px;">
            </div>
        </div> -->
        <div class="row mt-3" style="padding: 0px 38px;text-align: center;">
            <div class="col-md-6 col-lg-6 col-sm-6" style="width: 50% !important;text-align:center;">
                <button type="button" class="btn tablinks" (click)="openCityLondon('Lodon')"
                    style="padding: 7px 22px !important;color: #c51724;font-size: 13px;border-color: #c51724;background: #fff;;">Review
                    History</button>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6" style="width: 50% !important;">
                <button type="submit" class="btn2 tablinks" (click)="openCitytokyo('Tokyo')">Sample
                    Description</button>
            </div>
        </div>
        <div class="row mt-4" style="text-align: center;border-bottom: 0.25px solid #c51724cf;">
            <div class="col">
                <h5>Style No.: SW 5324</h5>
                <p style="color: #FFBE00;margin-bottom: 20px;">IN REVIEW</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col"></div>
        </div>
       
        <div  id="London" style="padding: 0px 22px;">
            <div class="row" style="margin:0px 0px;">
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="text-field">Style No.</label>

                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6" style="width: 40% !important;">
                            <select class="form-select" id="brandid" name="brandid" formControlName="brandid" required>

                                <option> </option>
                                <option *ngFor="let c of brandidval" [ngValue]="c">
                                    {{c}}   
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6" style="width: 58% !important;">
                            <input type="number" class="form-control" id="brandnumber" placeholder="" name="brandnumber"
                            formControlName="brandnumber" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Brand</label>
                    <select class="form-select" id="brand" name="brand" formControlName="brand" required>
                        <option> </option>
                        <option *ngFor="let c of brandvalue" [ngValue]="c">
                            {{c}}   
                        </option>
                    </select>
                </div>


            </div>
            <div class="row mt-4">
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Category</label>
                    <select class="form-select" id="category" name="category" formControlName="category" required>
                        <option> </option>
                        <option *ngFor="let c of categoryvalue" [ngValue]="c">
                            {{c}}   
                        </option>
                    </select>
                </div>


            </div>
            <div class="row" style="margin:20px 0px;">

                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="select-option">Season</label>
                    <select class="form-select" id="season" name="season" formControlName="season" required>
                        <option *ngFor="let c of seasonvalue" [ngValue]="c">
                            {{c}}   
                        </option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6" style="width: 47% !important;">
                    <label for="text-field">Designer</label>
                    <input type="name" class="form-control" id="designer" placeholder="" name="designer"
                    formControlName="designer">
                </div>


            </div>
            <div class="row1">
                <div class="column">

                    <label>Gender</label><br>
                    <div style="display:flex;">
                        <div class="check" required>
                            <input type="radio" class="checked" id="male" name="gender1111"  value="M"  formControlName="gender">
                            &nbsp;&nbsp;<label class="custom-control" for="male">Male</label>
                        </div>
                        <div class="check">
                            <input type="radio" class="" name="gender1111" id="female" formControlName="gender"
                                value="F"> &nbsp;&nbsp;<label class="custom-control" for="gender" >Female</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 class="border1">Design Description</h3>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="text-field">Fabric</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" id="fabric"
                    name="fabric" formControlName="fabric" required></textarea>
                </div>
            </div>
            <div class="row1" style="margin-top: 30px;">
                <div class="column">

                    <div style="display:flex;">
                        <div class="check1"><input type="checkbox" class="checkbox" id="s" name="s" formControlName="s">
                            <span style="font-size: 18px;">&nbsp;&nbsp;S</span></div>
                        <div class="check1"><input type="checkbox" class="checkbox" name="s" formControlName="m" id="m">
                            <span style="font-size: 18px;">&nbsp;&nbsp;M</span></div>
                        <div class="check1"><input type="checkbox" class="checkbox" name="l" formControlName="l" id="l">
                            <span style="font-size: 18px;">&nbsp;&nbsp;L</span></div>
                        <div class="check1"><input type="checkbox" class="checkbox" name="xl" formControlName="xl" id="xl">
                            <span style="font-size: 18px;">&nbsp;&nbsp;XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" name="twoxl" formControlName="twoxl"
                                id="twoxl"> <span style="font-size: 18px;">&nbsp;&nbsp;2XL</span></div>
                    </div>
                    <div style="display:flex;">
                        <div class="check2"><input type="checkbox" class="checkbox" name="threexl" formControlName="threexl"
                                id="threexl"> <span style="font-size: 18px;">&nbsp;&nbsp;3XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" name="fourxl" formControlName="fourxl"
                                id="fourxl"> <span style="font-size: 18px;">&nbsp;&nbsp;4XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" name="fivexl" formControlName="fivexl"
                                id="fivex"> <span style="font-size: 18px;">&nbsp;&nbsp;5XL</span></div>
                        <div class="check2"><input type="checkbox" class="checkbox" name="sixxl" formControlName="sixxl"
                                id="sixxl"> <span style="font-size: 18px;">&nbsp;&nbsp;6XL</span></div>
    
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 29px;">
                <label style="margin-bottom:6px;">Colors</label><br>
                <div class="col" style="width: 29%;">
                    <label class="picture" for="picture__input" tabindex="0">
                        Upload <br>Images
                    </label>

                    <input type="file" name="picture__input" id="picture__input" style="display:none;"
                    formControlName="pictureinput" required>
                <input id="textaa" name="color" style="width: 102px;padding: 7px;margin-top: 10px;"
                    formControlName="color" required>
                </div>
               
               



            </div>
            <div class="row mt-5">
                <div class="col">
                    <h3 class="border1">Prospected Price</h3>
                </div>
            </div>
            <div class="row" style="display:flex !important;align-items: center;">
                <div class="col" style="display: flex;align-items: center;">
                    <img src="assets/images/Group 562.svg" style="width: 13%; height: 40px;">
                    &nbsp;<input type="text" class="form-control" id="price" placeholder="" name="price" formControlName="price"
                    required style="width: 66%;margin-left: 14px;">
                </div>
                <div class="col" style="width: 30%;">
                    <h4>/ Piece</h4>
                </div>
            </div>
            <div class="row" style="padding: 56px 64px 100px 64px;">
                <div class="col"></div>
                <div class="col"><button type="submit" class="btn">Edit</button>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div id="Tokyo" class="" style="display:none;padding: 0px 22px;">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4" style="width: 30%;">
                    <img src="assets/images/Image 1.png">
                </div>
                <div class="col-md-8 col-sm-8 col-lg-8" style="width: 66%;">
                    <p>Re-Submitted: 14/11/22</p>
                    <p>Comment:</p>
                    <h6 class="feed">I have done the button changes as per your desire.</h6>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 col-sm-4 col-lg-4" style="width: 30%;">
                    <img src="assets/images/Image 1.png">
                </div>
                <div class="col-md-8 col-sm-8 col-lg-8" style="width: 66%;">
                    <p>Re-Submitted: 14/11/22</p>
                    <p>Comment:</p>
                    <h6 class="feed">I have done the button changes as per your desire.</h6><br>
                    <h6 style="margin-bottom:10px;">Reviewed on: 28/10/22 | Rocky Feedback:</h6>
                    <img src="assets/images/Image 1.png" style="margin-bottom:10px;"><br>
                    <h6 style="margin-bottom:10px;">Reviewed on: 14/11/22 | Kritika Feedback:</h6>
                    <h6 class="feed" style="font-weight:300;">Next, put the garment on a form which reflects your base
                        size.</h6>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4 col-sm-4 col-lg-4" style="width: 30%;">
                    <img src="assets/images/Image 1.png">
                </div>
                <div class="col-md-8 col-sm-8 col-lg-8" style="width: 66%;">
                    <h6 style="margin-bottom:10px;">Reviewed on: 14/11/22 | Kritika Feedback:</h6>
                    <h6 class="feed">Next, put the garment on a form which reflects your base size. Begin evaluating the
                        fit by looking for drag lines and stress points. Ensure that the garment is laying correctly on
                        the form before you begin making fit changes. If you need to check the movement or function of
                        the garment you can fit it on a model who closely compares to your base size.</h6>
                </div>
            </div>
            <div class="row" style="padding:29px 5px 141px 98px;display: flex;text-align: center;">
               
               <a routerLink="/vendor-new-design.component"><button type="button" class="btn">Re-Submit</button></a>
              
               
            </div>
        </div>
        
        
    </div>
</form>
