<div class="container-fluid">
    <img src="assets/images/gff.jpg" alt="" class="img1">

    <div style="display: flex; justify-content: space-around; margin-top: 8px;">
        <div>
            <p style="font-size: 14px; padding-right: 49px; color: #C51724;font-weight: 700;">BoutiquesAsia | #BA56342
            </p>
        </div>
        <div>
            <p style="font-size: 12px; font-weight: 600;">COMPLETED</p>
        </div>
    </div>

    <div style="display: flex;justify-content: space-between; margin-top: 7px;">
        <div>
            <input type="button" value="2022/08/1/5324/SW" class="btn2">
        </div>
        <div>
            <input type="button" value="2022/08/1/5324/SW" class="btn3">
        </div>
        <div>
            <input type="button" value="2022/08/1/5324/SW" class="btn4">
        </div>
    </div>


    <div style="display: flex; justify-content: space-between; margin-top: -7px; padding: 21px;">
        <div>
            <p><span class="innerp">Job Order No.:</span> <span class="innerp2">#GP985</span></p>
            <p class="mainp"><span class="innerp">Style No.:</span> <span class="innerp2">SW 5300</span></p>
            <p class="mainp"><span class="innerp">Merchandiser:</span> <span class="innerp2">Sunny</span></p>
            <p class="mainp"><span class="innerp">Category:</span> <span class="innerp2">Sweat Shirt</span></p>
            <p class="mainp"><span class="innerp">Gender:</span> <span class="innerp2"> Female</span></p>
            <p class="mainp"><span class="innerp">Amount:</span> <span class="innerp2">INR 22,000</span></p>
        </div>
        <div>
            <p style="padding-left: 17px;"><span class="innerp3">Brand:</span> <span class="innerp2"> Elomelo</span></p>
            <p style="padding-left: 11px; margin-top: -4px;"><span class="innerp3">Dated:</span> <span
                    class="innerp2">12/11/22</span></p>
            <p style="margin-top: -4px;"><span class="innerp3">Delivery: </span><span class="innerp2">12/12/22</span>
            </p>
            <p style="padding-left: 56px; margin-top: -4px;"><span class="innerp3">QTY:</span> <span
                    class="innerp2">340</span> </p>
            <p class="mainp"><span class="innerp3">Sizes:</span> <span class="innerp2">M, L, XL, 2XL</span></p>
        </div>
    </div>

    <div class="container-fluid2">
        <div class="border"></div>
    </div>
</div>


<!-- prduct area -->
<div class="container-fluid4">
    <div class="box">
        <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        <div style="padding-left: 10px;">
            <p class="boxp">SW 5300 BLACK </p>
            <p class="boxp">BLACK </p>
            <p class="boxp2">M:22 L:22 XL:22 2XL:22 </p>
            <p class="boxp2">QTY: 88</p>
        </div>
    </div>
    <div class="box">
        <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        <div style="padding-left: 10px;">
            <p class="boxp">SW 5300 BLACK </p>
            <p class="boxp">BLACK </p>
            <p class="boxp2">M:22 L:22 XL:22 2XL:22 </p>
            <p class="boxp2">QTY: 88</p>
        </div>
    </div>
    <div class="box">
        <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        <div style="padding-left: 10px;">
            <p class="boxp">SW 5300 BLACK </p>
            <p class="boxp">BLACK </p>
            <p class="boxp2">M:22 L:22 XL:22 2XL:22 </p>
            <p class="boxp2">QTY: 88</p>
        </div>
    </div>
    <div class="box">
        <img src="assets/images/gff.jpg" alt="" style="height: 69px; width: 69px;">
        <div style="padding-left: 10px;">
            <p class="boxp">SW 5300 BLACK </p>
            <p class="boxp">BLACK </p>
            <p class="boxp2">M:22 L:22 XL:22 2XL:22</p>
            <p class="boxp2">QTY: 88</p>
        </div>
    </div>
</div>
<!--end prduct area -->
<div class="container-fluid5">
    <div>
        <input type="button" value="Sample History" class="btn5"> <br>
        <input type="button" value="Completed" class="btn6"><input type="button" value="Repeat" class="btn7">
        <p style="font-size: 10px;     padding-top: 22px;"><span style="color: gray; ">Approved By:</span><span style="color: black; font-weight: 700;"> Mohit Arora | #BA14353 | 27/12/22</span></p>
    </div>
    <div>
        <img src="assets/images/pdf.png" alt="" style="height: 29px; width: 29px;">
    </div>
</div>