
.intl-tel-input,
.iti{
  width: 100%;
}
.main{height: 100vh;
  background: #c51724;}
.btn {
  padding: 12px 69px;
  background: #c51724;
  color: #fff;
  border: 0.25px solid #fff;
  border-radius: 8px;
  text-transform: uppercase;
  margin-left: -12px;
}
.design{
  color: #fff;
    padding: 40px;
    background: #c51724;
}


.design1{
  color: #fff;
  padding: 55px 10px;
    background: #c51724;
}
h1,h2,h3,h4,h5,h6{
  font-family: lato !important;
    font-weight: normal;
}


.background{
  padding: 0;
    background: #c51724;
    text-align: center;
}
.input{
  padding: 26px;
    font-size: 17px;
    font-family: lato;
    font-weight: 600;
    border-radius: 9px;
}
.anchor{
  color: #fff;
    text-decoration: none;
    text-align: right;
    
}
.text{
  color: #fff;
    font-size: 21px;
    font-family: lato;
    font-weight: 400;
}
.input-box {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.input-box input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.input-box:focus-within {
  border-color: #777;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  margin-top: 10 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}