<div class="container-fluid" style="background: #c51724;">
    <div class="row" style="justify-content: center;align-items: center;padding: 15px 0px;">
    <div class="col"><a href="javascript:history.back()"><img src="assets/images/back.svg" width="10%;"></a></div>
    <div class="col title">
        <h2 style="font-size: 16px;color: #fff;text-align:center;">My Profile</h2>
    </div>
    <div class="col" style="text-align:right;">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="31px;"></a>
    </div>
</div>
</div>

<div class="container mt-3 mb-3">
    <div class="row" style="align-items: center;">
        <div class="col-md-7 col-lg-7 col-sm-7 box" style="width: 65%;">
            <div class="logoimg">
                <img src="assets/images/loggo.png" width="100%;">
            </div>
            <div class="about">
                <h6>BoutiquesAsia</h6>
                <p>#VC313456</p>
                <p>24/12/22</p>
            </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-5" style="width: 35%;text-align: right;"> <a routerLink="/editprofile.component"><button type="button" class="btn"><img src="assets/images/edit-button.png"></button></a></div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a href=""><img src="assets/images/phone1.svg" width="30%;"> +91 99998 05331</a>
        </div>
        <div class="col"><a href=""><img src="assets/images/whatsapp1.svg" width="30%;"> +91 98111 44961</a></div>
    </div>
    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col box1" style="padding: 0;">
            <ul style="padding: 0;">
              <li><a href="#">Setting</a></li>
              <li><a href="#">Sizes</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 100px;">
    <div class="row mt-4">
        <div class="col">
            <img src="assets/images/logo1.svg" width="55%;">
            <p style="font-size: 12px;"><strong>Address:</strong> 2406, Hardhyan Singh Marg, Block 37J, Nai Walan,<br> Karol Bagh, New Delhi, Delhi 110005</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <a routerLink="/login.component"><button type="button" class="btn6"><img src="assets/images/power-off.png"> LOGOUT</button></a>
            <p style="font-size: 12px;">V 1.0.1</p>
        </div>
    </div>
</div>


<!-- <div *ngFor="let temp of venderdata" style="border: 1px solid black;">
    {{ temp.mobile }}
    {{ temp.roleId}}
    {{ temp.mobile }}

</div>  -->