<div class="container-fluid">
    <div class="box">
      <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
      <p class="date">21/11/22 | 3:48 PM</p>
      <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
        <hr  class="line">
    </div>
    <div class="box">
        <p>Exports, which constitute about 22% of the industry, have fallen for five months in a row - declining over 15% year-on-year in November to $3.1 billion.</p>
        <p class="date">21/11/22 | 3:48 PM</p>
    </div>
</div>
