*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container-fluid{
    width: 100%;
    padding: 21px;
}
.box{
    padding-top: 15px;
}
p{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}
.date{
    padding-left: 242px;
    font-weight: 700;
    font-size: 10px;
}
@media screen  and (max-width:416px) and (min-width:376px)  {
    .date{
       padding-left: 280px;
    }
}
@media screen  and (max-width:391px) and (min-width:389px)  {
    .date{
        padding-left: 257px;
    }
}
@media screen  and (max-width:395px) and (min-width:391px)  {
    .date{
        padding-left: 258px;
    }
}
.line{
    margin-top: 16px;
    
}