<div class="container-fluid1" >
    <div>
        <input type="text" class="firstinp" #task><span>
            <select name=""  class="sel1" #year>
            <option value="" > year</option>
            <option value="2001">2001</option><option value="2002">2002</option>
            <option value="2003">2003</option><option value="2004">2004</option>
            <option value="2005">2005</option><option value="2006">2006</option>
            <option value="2007">2007</option><option value="2008">2008</option>
            <option value="2009">2009</option><option value="2010">2010</option>
            <option value="2011">2011</option><option value="2012">2012</option>
            <option value="2013">2013</option><option value="2014">2014</option>
            <option value="2015">2015</option><option value="2016">2016</option>
            <option value="2017">2017</option><option value="2018">2018</option>
            <option value="2019">2019</option><option value="2020">2020</option>           
        </select></span>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 17px;">
        <div><a href="" style="color: black; text-decoration: none;">Cancel</a></div>
        <div>
            <input type="button" (click)=" addtask(task.value,year.value)" value="Add" class="btn2">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="box1"  *ngFor="let item of list">
        <div class="subbox">
            <p style="font-size: 16px; margin-top: -7px;">{{item.name}}&nbsp;{{item.year}}</p>
        </div>     
        <div class="subbox">
            <img src="assets/images/edit-button.png" alt="" style="height: 19px; width: 19px; margin-right: 18px;margin-top: -18px;">
            <span><label class="switch"><input type="checkbox"><span class="slider"></span></label></span>       
        </div>  
    </div>
    
    <div class="box1">
        <div class="subbox">
            <p style="font-size: 16px; margin-top: -7px;">sachin</p>
        </div>     
        <div class="subbox">
            <img src="assets/images/edit-button.png" alt="" style="height: 19px; width: 19px; margin-right: 18px;margin-top: -18px;">
            <span><label class="switch"><input type="checkbox"><span class="slider"></span></label></span>       
        </div>  
    </div>
</div>

