<div class="container-fluid">
    <div class="mainbox">
        <div class="box">
            <img src="assets/images/filter.jpg" alt="" style="height: 30px; width: 36px;">
        </div>
        <div class="box">
            <select name="" id="" class="sel1">
                <option value="">sort by</option>
                <option value="">sort by</option>
                <option value="">sort by</option>
                <option value="">sort by</option>
            </select>
        </div>
    </div>

    <div>
        <input type="text" placeholder="Search" class="in1"><button class="btn"><img src="assets/images/loupe.png" alt="" style="height: 17px; width: 17px;"></button>
    </div>
</div>


<!-- product area -->


<div class="container-fluid2">
    <div class="box2">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>
        </div>
    </div>

    <div class="box2">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>
        </div>
    </div>

    <div class="box2">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>
        </div>
    </div>

    <div class="box2">
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>

        </div>
        <div class="subbox">
            <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
            <p style="font-size: 12px;color: #C51724; font-weight: 600;">BoutiquesAsia</p>
            <p style="font-size: 12px;font-weight: 700;margin-top: -2px;">#VC313456 </p>
            <p style="font-size: 12px;margin-top: -2px;">M, L, XL, 2XL </p>
            <p style="font-size: 12px;margin-top: -2px;">QTY: 128</p>
            <p style="font-size: 12px; color: #116418; font-weight: 500;margin-top: -2px;"> 24/12/22</p>
        </div>
    </div>

</div>

<!--end  product area -->