<!-- angular bootstrap offcanfash -->
<ng-template #content let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" style="font-size: 18px;font-weight: 700;">Filter By</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

        <div class="box10">
            <button class="btn" (click)="opencity1('vender')">VENDER</button>
            <button class="btn1" (click)="opencity2('other')">OTHERS</button>
        </div>

        <!-- vender area -->
        <div class="container-fluid6" id="vender">
            <div class="box5">
                <div class="boxsubdiv">
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp"><label for="" style="padding-top: 5px; padding-left: 4px; font-size: 12px; color: #C51724;
                   font-weight: 700;">SELECT ALL</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">RS
                            Garments</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">G K Supply
                            Chain Pvt Ltd</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Mytee</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">V S
                            Fabrication</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Eastern
                            Clothing</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Vandana
                            Designer Studio</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">N S Garments
                            Company</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Creative India
                            Palace </label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Abarass
                            Creations</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Roop Ki Vatika
                        </label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab"> Plain Mens T
                            Shirts</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Abarass
                            Creations</label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab">Roop Ki Vatika
                        </label><br></div>
                    <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                            class="subboxlab"> Plain Mens T
                            Shirts</label><br></div>

                </div>
            </div>
        </div>
        <!-- end vender area -->

        <!-- other area -->
        <div id="other" style="display: none;">
            <div class="container-fluid7">
                <div class="box3">
                    <div class="box6">
                        <label for="" style="font-size: 14px; color: #000000;font-weight: 600;">Category</label><br>
                        <select name="" id="" class="sele1">
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>

                    <div class="box6">
                        <label for="" style="font-size: 14px; color: #000000;font-weight: 600;">Season</label><br>
                        <select name="" id="" class="sele1">
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>

                    <div class="box6">
                        <label for="" style="font-size: 14px; color: #000000;font-weight: 600;">Gender</label><br>
                        <input type="checkbox" name="" id="" class="check"> Female
                        <input type="checkbox" name="" id="" class="check"> Male
                    </div>

                    <div class="box6">
                        <label for="" style="font-size: 14px; color: #000000;font-weight: 600;">Date</label><br>
                        <input placeholder="From" type="text" onfocus="(this.type = 'date')" id="date" class="date1">

                    </div>
                </div>


                <div class="box3">
                    <div class="box6">
                        <label for="">Brand</label>
                        <br>
                        <select name="" id="" class="sele1">
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>

                    <div class="box6">
                        <label for="">Merchant</label>
                        <br>
                        <select name="" id="" class="sele1">
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>

                    <div class="box6">
                        <input placeholder="To" type="text" onfocus="(this.type = 'date')" id="date" class="date">
                    </div>
                </div>
            </div>

            <div class="container-fluid8">
                <div class="child">
                    <input type="checkbox" name="" id="" class="firstcheck">
                    <p style="font-size: 10px;">In Process</p>
                </div>
                <div class="child">
                    <input type="checkbox" name="" id="" class="thirdcheck">
                    <p style="font-size: 10px;">Repeated</p>
                </div>
                <div class="child">
                    <input type="checkbox" name="" id="" class="fifthcheck">
                    <p style="font-size: 10px;">Disapproved</p>
                </div>
                <div class="child">
                    <input type="checkbox" name="" id="" class="secondcheck">
                    <p style="font-size: 10px;"> Completed</p>
                </div>

                <div class="child">
                    <input type="checkbox" name="" id="" class="forthcheck">
                    <p style="font-size: 10px;">Cancelled</p>
                </div>

            </div>
        </div>
        <!--end other area -->


        <div class="box10">
            <button class="btn9" (click)="opencity2('other')">CLEAR ALL</button>
            <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')"
                class="btn10">DONE</button>
        </div>

    </div>
</ng-template>
<!--end angular bootstrap offcanfash -->


<form action="">
    <div class="container-fluid">
        <div class="child_container">
            <div class="main">
                <div>
                    <button type="submit" style="border: none; background-color: white;"
                        (click)="openScroll(content)"><img src="assets/images/filter.jpg" alt=""
                            style="height: 36px; width: 40px;"></button>
                </div>

                <div>
                    <img src="assets/images/pdf.png" alt="" class="pdfimg">
                </div>
            </div>
            <div class="main">
                <div>
                    <img src="assets/images/pdf.png" alt="" style="height: 25px; width: 25px; margin-right: 67px;"
                        class="img">
                </div>
                <div>
                    <select name="" id="" class="inp">
                        <option value="">sort by</option>
                        <option value="">sort by</option>
                        <option value="">sort by</option>
                        <option value="">sort by</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="text" placeholder="Search" class="secondinp">
        <button
            style=" min-height: 34px;border: 1px solid #C8C8C8;border-left: none;padding-top: 0px;background-color: white; margin-left: -3px; border-radius: 3px;"><i
                class="fa fa-search" style=" color: #C51724; font-weight: 100;  rotate: 91deg;"></i></button>
    </div>

    <div class="container-fluid1">
        <div class="box" style="width: 21%;">
            <input type="checkbox" name="" id="" class="firstcheck">
            <p style="font-size: 9px; margin-top: -4px; font-weight: 600;">In Process</p>
            <input type="checkbox" name="" id="" class="secondcheck">
            <p style="font-size: 9px;  margin-top: -4px; font-weight: 600;"> Cancelled</p>

        </div>
        <div class="box" style="width: 21%;">
            <input type="checkbox" name="" id="" class="thirdcheck">
            <p style="font-size: 9px;  margin-top: -4px; font-weight: 600;">Completed</p>
            <input type="checkbox" name="" id="" class="forthcheck">
            <p style="font-size: 9px;  margin-top: -4px; font-weight: 600;">Disapproved</p>

        </div>
        <div class="box" style="width: 26%;">
            <input type="checkbox" name="" id="" class="fifthcheck">
            <p style="font-size: 9px;  margin-top: -4px; font-weight: 600;">Repeated</p>
            <input type="checkbox" name="" id="" class="sixcheck">
            <p style="font-size: 9px;  margin-top: -4px;font-weight: 600;">Merchant’s Cancellation</p>
        </div>

    </div>

    <!-- filter component *ngIf="hideRow" -->



    <!-- filter components end -->




    <div class="container-fluid2">
        <div class="box1">
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>

            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">Apfel jeans</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>

            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">RS Garments</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
        </div>

        <div class="box1">
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">Purnima Exports</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">STV Enterprises</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>

            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">Chitra Garments</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
            </div>
        </div>

        <div class="box1">
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
        </div>
        <div class="box1">
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
            <div>
                <img src="assets/images/gff.jpg" alt="" style="height: 102px; width: 102px;">
                <p><span style="font-size: 12px;font-weight: 700;color: red;">BoutiquesAsia</span></p>
                <p style="margin-top: -20px;font-weight: 600; font-size: 14px;">#VC313456</p>
                <p style="margin-top: -20px;font-size: 14px; font-weight: 400;">M, L, XL, 2XL</p>
                <p style="margin-top: -20px;font-size: 14px;"> QTY: 128</p>
                <p style="margin-top: -20px;font-size: 14px;color: #116418; font-weight: 500;">24/12/22</p>
            </div>
        </div>
    </div>

    <div class="container-fluid3">
        <div class="boder">
        </div>
    </div>

</form>



<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6 style="font-size: 11px;">New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg"
                    width="37px;"></a>
            <h6 style="font-size: 11px;">Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg"
                    width="37x;"></a>
            <h6 style="font-size: 11px;">Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/My profile.svg"
                    width="32px;"></a>
            <h6 style="font-size: 11px;">User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">Setting</h6>
        </div>
    </div>
</div>




<!-- next filter component -->