<div class="container-fluid header" id="mainhead">
    <div class="row">
  <div class="col logo">
      <a routerLink="/"><img src="assets/images/Group 801.svg" width="90%;"></a>
  </div>
  <div class="col icon">
      <a href=""><img src="assets/images/1.svg" width="100%;"></a>
     <a href=""><img src="assets/images/2.svg" width="100%;"></a>
      <a href=""><img src="assets/images/3.svg" width="100%;"></a>
  </div>
</div>
</div>



<div class="main">
    <div class="banner">
        <img src="assets/images/designers-masterpiese-group-of-fashion-designers-2022-02-02-19-58-52-utc.png" width="100%;">
    </div>
    <a routerLink="/adduser.component"><button type="button" class="btn1">
          <span style="color:#FFEE00;text-transform: uppercase;">REGISTER VENDOR</span>
    </button></a>

    <div class="banner mt-5">
        <img src="assets/images/designers-masterpiese-group-of-fashion-designers-2022-02-02-19-58-52-utc.png" width="100%;">
    </div>
    <a routerLink="/adduser.component"><button type="button" class="btn8">
        <span style="color:#c51724;text-transform: uppercase;">REGISTER MERCHANT</span>
    </button></a>
    
</div>
























<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6>New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6>Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6>Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/My profile.svg" width="32px;"></a>
            <h6>User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="32px;"></a>
            <h6>Setting</h6>
        </div>
    </div>
    </div>