<div class="container-fluid">
    <div class="box">
        <div><img src="assets/images/filter.jpg" alt="" class="fliter"></div>
        <div>
            <input type="text" placeholder="Enter Order ID" class="inp1"><button class="btn"><img src="assets/images/loupe.png" alt="" style="height: 17px ; outline: none;  width:17px;margin-left: 10px;
                margin-right: 10px;
                margin-top: -7px;"></button>
        </div>
    </div>



    <div class="container-fluid2">
        <div class="box3">
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
        </div>

        <div class="box3">
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
        </div>
        <div class="box3">
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
        </div>
        <div class="box3">
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
        </div>
        <div class="box3">
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
            <div> <img src="assets/images/gff.jpg" alt="" class="img1">
                <p style="color: #C51724; font-size: 12px;font-weight: 600;">BoutiquesAsia</p>
                <p style="font-size: 10px;">#VC313456</p>
            </div>
        </div>
    </div>

</div>