*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
    height: auto;
   
}

.container-fluid1 {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
.main {
    display: flex;
    justify-content: space-between;
}

.pdfimg {
    height: 25px;
    width: 25px;
    margin-left: 76px;
}
@media screen and (max-widh:415px) and (min-width:376px) {
    .pdfimg {
        margin-left: 120px;
    }
}

.inp {
    width: 89px;
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    border: 0.75px solid #707070;
    margin-right: 4px;
    outline: none;
}


@media screen and (min-width:389px) and (max-width:416px) {
    .secondinp {
        margin-left: 21px;
    }

    .inp {
        margin-right: 7px;
    }
}

.secondinp {
    margin-left: 19px;
    width: 84%;
    margin-top: 8px;
    font-size: 12px;
    min-height: 34px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #C8C8C8;
    border-right: none;
    border-radius: 3px;
}

@media screen and (min-width:900px) {
    .secondinp {
        width: 95%;
    }
}

.sticky {
    padding: 10px 0px;
    text-align: center;
    background: #F6F5FD;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    border-top: 1px solid #c51724;
  }

  .row {
  
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .row>* {
    flex-shrink: 0;
    width: 20% !important;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }




  .container-fluid2 {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:820px) {
    .container-fluid2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
}

.box1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 13px;
}


@media screen and (min-width:1024px) {
    .box1{
        display: flex;
        flex-direction: column;
    }
}


.container-fluid5 {
    width: 100%;
    display: flex;
    /* padding: 22px; */
    height: 400px;
    margin-top: -8px;
}

.boxsubdiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.subbox {
    display: flex;
    align-items: center;
}

.firstinp1 {
    height: 19px;
    width: 19px;
    accent-color: #C51724;
}

.firstinp {
    height: 19px;
    width: 19px;
    accent-color: #C51724;
}
.subboxlab {
    padding-top: 5px;
    padding-left: 4px;
    font-size: 11px;
    font-weight: 700;
}
