<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col">
            <h4>Order in Process</h4>
        </div>
        <div class="col" style="text-align: right;">
          
        </div>
    </div>
    <div class="row">
        <img src="assets/images/Banner.png">
        
    </div>
</div>
<div class="container-fluid" style="padding-bottom:110px;">
    
    
    
    
    <div class="row mt-5" style="padding-bottom: 45px;">
        <h4>New Designs
        </h4>
       
        <div class="col"  *ngFor="let item of vendorProduct; let i = index">
            
          
            <a  [routerLink]="['/approvedbyadmin.component']"   
            [queryParams]="{ productid : item.id  }"> 
                <img src="{{imgConfig}}/{{item.file1}}" width="102px;"height="102px;"> 
            </a>



            <h6 style="color: #c51724;padding-top: 6px;"># {{brandidval[item.brandid == 0 ? item.brandid : 1 ].name}}{{item.brandnumber}}</h6>
        </div>
       
        <div class="col">
            
        </div>
        
    </div>






</div>



<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6>New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6>Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6>Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/1.1.svg" width="35px;"></a>
            <h6>User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="35px;"></a>
            <h6>Setting</h6>
        </div>
    </div>
    </div>