* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container-fluid {
    padding: 21px;
}
.sticky {
    padding: 10px 0px;
    text-align: center;
    background: #F6F5FD;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    border-top: 1px solid #c51724;
  }

  .row {
  
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .row>* {
    flex-shrink: 0;
    width: 20% !important;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

.container-fluid1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -11px;

}

.main {
    display: flex;
    justify-content: space-between;
}

.inp {
    width: 89px;
    height: 22px;
    font-size: 12px;
    border-radius: 3px;
    border: 0.75px solid #707070;
    margin-right: 4px;
    outline: none;
}

.pdfimg {
    height: 25px;
    width: 25px;
    margin-left: 76px;
}

@media screen and (max-widh:415px) and (min-width:376px) {
    .pdfimg {
        margin-left: 120px;
    }
}

.inp1 {
    padding-right: 145px;
    margin-right: -8px;
    font-size: 12px;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
    height: 33px;
    outline: none;
    border-right: none;
    padding-left: 6px;
    margin-left: 0px;
}

@media screen and (max-width:420px) and (min-width:376px) {
    .inp1 {

        padding-right: 184px;
    }
}

@media screen and (max-width:391px) and (min-width:389px) {
    .inp1 {
        padding-right: 161px;
    }
}

@media screen and (max-width:394px) and (min-width:391px) {
    .inp1 {
        padding-right: 163px;
    }
}

@media screen and (max-width:370px) {
    .inp1 {
        padding-right: 134px;
    }
}

@media screen and (max-width:1025px) and (min-width:540px) {
    .inp1 {
        height: 55px;
        padding-right: 540px;
    }
}

@media screen and (min-width:1025px) {
    .inp1 {
        height: 55px;
        width: 97%;
        /* padding-right: 800px; */
    }
}

.mybtn {
    height: 33px;
    outline: none;
    border: 1px solid #C8C8C8;
    margin-top: -3px;
    margin-right: 0px;
    border-left: none;
    outline: none;
    border-radius: 3px;
    /* border: none; */
    background-color: white;
}

@media screen and (max-width:1025px) and (min-width:550px) {
    .mybtn {
        height: 55px;
    }
}

@media screen and (min-width:1025px) {
    .mybtn {
        height: 55px;

    }
}

.img1 {
    height: 168px;
    width: 168px;
}


.container-fluid3 {
    padding-top: 15px;
    min-height: 870px;
}

.box {
    display: flex;
    padding-top: 19px;
}

.btn2 {
    font-size: 10px;
    color: #C51724;
    border: 0.25px solid #C51724;
    border-radius: 3px;
    width: 108px;
    height: 19px;
    background-color: white;
    font-weight: 700;
}

.btn3 {
    color: white;
    background-color: #C51724;
    font-size: 10px;
    border: 0.25px solid #C51724;
    border-radius: 3px;
    opacity: 1;
    width: 108px;
    height: 19px;
}


.boxsubdiv {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.subbox {
    display: flex;
    align-items: center;
}

.subboxlab {
    padding-top: 5px;
    padding-left: 4px;
    font-size: 11px;
    font-weight: 700;
}

.firstinp1 {
    height: 19px;
    width: 19px;
    accent-color: #C51724;
}

.firstinp {
    height: 19px;
    width: 19px;
    accent-color: #C51724;
}


.container-fluid5 {
    width: 100%;
    display: flex;
    /* padding: 22px; */
    height: 400px;
    margin-top: -8px;
}

.btn4 {
    width: 107px;
    height: 32px;
    font-size: 12px;
    background-color: #C51724;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
}
.border{
    height: 3px;
    width: 100%;
    background-color: red;
}