<!-- angular bootstrap -->
<div>
    <ng-template #content let-offcanvas>
        <div class="offcanvas-header">
            <h4 class="offcanvas-title"
                style="font-size: 18px;font-weight: 700; padding-left: 21px; padding-top: 40px;">Search By Vender</h4>
            <!-- <button type="button" style="margin-right: 20px; font-size: 20px;margin-top: 31px;" class="btn-close"
                aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button> -->
        </div>
        <div class="offcanvas-body">
            <!-- enter content -->
            <!-- end content -->
            <form action="">
                <div class="border"></div>
                <div class="container-fluid5" style="padding: 20px;">
                    <div class="box5">
                        <!-- <h4 style="font-size: 18px;font-weight: 700;">Search By Vender</h4> -->
                        <div class="boxsubdiv">
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp"><label for=""
                                    style="padding-top: 5px; padding-left: 4px; font-size: 12px; color: #C51724;
                                font-weight: 700;">SELECT ALL</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">RS
                                    Garments</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">G K Supply
                                    Chain Pvt Ltd</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Mytee</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">V S
                                    Fabrication</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Eastern
                                    Clothing</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Vandana
                                    Designer Studio</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">N S Garments
                                    Company</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Creative India
                                    Palace </label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Abarass
                                    Creations</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Roop Ki Vatika
                                </label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab"> Plain Mens T
                                    Shirts</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Abarass
                                    Creations</label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab">Roop Ki Vatika
                                </label><br></div>
                            <div class="subbox"><input type="checkbox" name="" id="" class="firstinp1"><label for=""
                                    class="subboxlab"> Plain Mens T
                                    Shirts</label><br></div>
                            <div>
                                <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')" class="btn4">DONE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- <p>One fine body</p> -->
            <div class="text-end">
                <!-- <button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button> -->
            </div>
        </div>
    </ng-template>

</div>
<!-- end angular bootstrap -->


<div class="container-fluid">
    <div class="container-fluid1">
        <div class="main">
            <div>
                <button type="submit" style="border: none; background-color: white;" (click)="openScroll(content)"><img
                        src="assets/images/filter.jpg" alt="" style="height: 36px; width: 40px;"></button>
            </div>

            <div>
                <img src="assets/images/pdf.png" alt="" class="pdfimg">
            </div>
        </div>
        <div class="main">
            <div>
                <img src="assets/images/pdf.png" alt="" style="height: 25px; width: 25px; margin-right: 67px;"
                    class="img">
            </div>
            <div>
                <select name="" id="" class="inp">
                    <option value="">sort by</option>
                    <option value="">sort by</option>
                    <option value="">sort by</option>
                    <option value="">sort by</option>
                </select>
            </div>
        </div>
    </div>

    <!-- input filed -->
    <div style="padding-top: 5px;">
        <input type="text" placeholder="Enter Order ID" class="inp1"><button class="mybtn"><img
                src="assets/images/loupe.png" alt="" style="height: 17px ; outline: none;  width:17px;margin-left: 10px;
            margin-right: 10px;
            margin-top: -7px;"></button>
    </div>
    <!-- end input filed -->

    <!-- product -->
    <div class="container-fluid3">
        <div class="box">
            <img src="assets/images/gff.jpg" alt="" class="img1">
            <div style="padding-left: 7px;">
                <p style="color: #C51724; font-size: 14px; font-weight: 700;">BoutiquesAsia </p>
                <p style="color: #000000; font-size: 14px; font-weight: 700;">#VC313456 </p>
                <p style="font-size: 12px; color: #000000;">M, L, XL, 2XL </p>
                <p style="font-size: 12px; color: #000000;">QTY: 128</p>
                <a routerLink="/superadmin-repeat-order1.component"><button class="btn2">2022/12/3/5324/SW</button></a>
                <a routerLink="/superadmin-repeat-order1.component" style="text-decoration: none;"><button class="btn2">2022/12/3/5324/SW</button></a>
               <a routerLink="/superadmin-repeat-order1.component"> <button class="btn3">2022/12/3/5324/SW</button></a>
            </div>
        </div>
        <div class="box">
            <img src="assets/images/gff.jpg" alt="" class="img1">
            <div style="padding-left: 7px;">
                <p style="color: #C51724; font-size: 14px; font-weight: 700;">BoutiquesAsia </p>
                <p style="color: #000000; font-size: 14px; font-weight: 700;">#VC313456 </p>
                <p style="font-size: 12px; color: #000000;">M, L, XL, 2XL </p>
                <p style="font-size: 12px; color: #000000;">QTY: 128</p>
                <button class="btn2" >2022/12/3/5324/SW</button>

            </div>
        </div>
        <div class="box">
            <img src="assets/images/gff.jpg" alt="" class="img1">
            <div style="padding-left: 7px;">
                <p style="color: #C51724; font-size: 14px; font-weight: 700;">BoutiquesAsia </p>
                <p style="color: #000000; font-size: 14px; font-weight: 700;">#VC313456 </p>
                <p style="font-size: 12px; color: #000000;">M, L, XL, 2XL </p>
                <p style="font-size: 12px; color: #000000;">QTY: 128</p>
                <button class="btn2">2022/12/3/5324/SW</button>
                <button class="btn2">2022/12/3/5324/SW</button>
                <button class="btn3">2022/12/3/5324/SW</button>
            </div>
        </div>
        <div class="box">
            <img src="assets/images/gff.jpg" alt="" class="img1">
            <div style="padding-left: 7px;">
                <p style="color: #C51724; font-size: 14px; font-weight: 700;">BoutiquesAsia </p>
                <p style="color: #000000; font-size: 14px; font-weight: 700;">#VC313456 </p>
                <p style="font-size: 12px; color: #000000;">M, L, XL, 2XL </p>
                <p style="font-size: 12px; color: #000000;">QTY: 128</p>
                <button class="btn2">2022/12/3/5324/SW</button>
                <button class="btn2">2022/12/3/5324/SW</button>

            </div>
        </div>
    </div>
    <!--end product -->


    <!-- filter component *ngIf="hideRow" -->


</div>

<!-- filter components end -->
<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6 style="font-size: 11px;">New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6 style="font-size: 11px;">Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6 style="font-size: 11px;">Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/My profile.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">Setting</h6>
        </div>
    </div>
    </div>