<form action="">
    <div class="container-fluid">
       <div class="child_container">
        <div class="box">
            <select name="" id="" class="firstopt">
                <option value="">Sort By</option>
                <option value="">Sort By</option>
                <option value="">Sort By</option>
                <option value="">Sort By</option>
                <option value="">Sort By</option>
            </select>

            <img src="assets/images/pdf.png" alt="" class="pdf">
        </div>
        <div class="box">
            <img src="assets/images/pdf.png" alt="" class="pdf2">
            <a routerLink="/adduser.component">
                <button class="firstbtn"><i class="fa fa-user-plus"></i>
                    <span style="color: #C51724;font-size: 13px;padding-left: 9px; font-weight: 500;">Add User</span>
                </button></a>
        </div>
       </div>
    </div>


    <div>
        <span><input type="text" placeholder="Search" class="secondinp"></span>
        <span> <button class="secondinpbtn"><i class="fa fa-search"
                    style=" color: #C51724; font-weight: 100;  rotate: 91deg;"></i></button></span>
    </div>
    <!-- end search field -->

    <!-- cheackbox area -->
    <div class="container-fluid2">
        <div class="box2">
            <input type="checkbox" name="" id="" class="check1"> <br>
            <p style="margin-top: -7px;font-size: 10px;">Merchant</p>
        </div>
        <div class="box3">
            <input type="checkbox" name="" id="" class="check2"> <br>
            <p style="margin-top: -7px;font-size: 10px;">Vendor</p>
        </div>
        <div class="box4">
            <input type="checkbox" name="" id="" class="check3"><br>
            <p style="margin-top: -7px;font-size: 10px;">Admin</p>

        </div>
        <div class="box5">
            <input type="checkbox" name="" id="" class="check4"><br>
            <p style="margin-top: -7px;font-size: 10px;">Deactivated</p>
        </div>
    </div>
    <!--end cheackbox area -->

    <div class="container-fluid3">
        <div class="box6">
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724;font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>

            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">BoutiquesAsia</p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>

            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>

            </div>
        </div>
        <div class="box6">
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Raghav </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>

        </div>
        <div class="box6">
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>


        </div>
        <div class="box6">
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>


        </div>
        <div class="box6">
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>
            <div class="subcontainer">
                <img src="assets/images/gff.jpg" alt="" style="height: 104px; width: 102px;">
                <div class="smallbox"></div>
                <p style="font-size: 13px; color: #C51724; font-weight: 500;">Kritika Sharma </p>
                <p style="margin-top: -2px; font-size: 13px;">#VC313456</p>
                <p style="font-size: 13px;margin-top: -2px;"> 24/12/22</p>
            </div>

        </div>
    </div>


</form>




<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6 style="font-size: 11px;">New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-order-history.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6 style="font-size: 11px;">Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/superadmin-repeatorder-history.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6 style="font-size: 11px;">Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-user-profile.component"><img src="/assets/images/My profile.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
            <a routerLink="/super-admin-setting.component"><img src="/assets/images/1.2.svg" width="32px;"></a>
            <h6 style="font-size: 11px;">Setting</h6>
        </div>
    </div>
    </div>