<form action="">

    <div class="container-fluid">
        <img src="{{imgConfig}}/{{productdata.file1}}" alt="" class="myimg">
        <div class="mainbox">
            <div class="box">
                <p style="color: #C51724;  opacity: 1;font-weight:900;margin-right: 8px; font-family: lato;padding-top: 4px;"
                    class="ri">BoutiquesAsia | #BA56342</p>
                <p style="color: gray; font-size: 13px; padding-top: 12px;" class="ri">Job Order No.: <span
                        style="font-weight: 700;color: black; opacity: 1;">#GP985</span> </p>
                <p style="color: gray; font-size: 13px;" class="ri">Style No.: <span
                        style="font-weight: 700;color: black; opacity: 1;">
                        SW 5300</span> </p>
                <p style="color: gray; font-size: 13px; " class="ri">Merchandiser: <span
                        style="font-weight: 700;color: black; opacity: 1;">Sunny</span> </p>
                <p style="color: gray; font-size: 13px;  " class="ri">Category: <span
                        style="font-weight: 700;color: black; opacity: 1;">{{productdata.category}} </span> </p>
                <p style="color: gray; font-size: 13px; " class="ri">Gender: <span
                        style="font-weight: 700;color: black; opacity: 1;">{{productdata.gender}}</span> </p>
                <p style="color: gray; font-size: 13px;" class="ri">Amount:<span
                        style="font-weight: 700;color: black; opacity: 1;"> INR
                        {{productdata.price}} </span> </p>
            </div>
            <div class="box1">
                <p style="color:orange; font-weight: 900;padding-left: 26px;font-family: lato;padding-top: 4px;"
                    class="du">IN PROCESS</p>
                <p style="color: gray; font-size: 13px; padding-top: 12px;    padding-left: 69px;">Brand: <span
                        style="font-weight: 700;color: black; opacity: 1;">{{productdata.brand}}</span> </p>
                <p style="color: gray; font-size: 13px;padding-left: 19px;">Dated: <span
                        style="font-weight: 700;color: black; opacity: 1;">
                        12/11/22</span> </p>
                <p style="color: gray; font-size: 13px;padding-left: 8px;">Delivery:<span
                        style="font-weight: 700;color: black; opacity: 1;">
                        12/12/22</span> </p>
                <p style="color: gray; font-size: 13px;padding-left: 64px;">QTY: <span
                        style="font-weight: 700;color: black; opacity: 1;">340</span>
                </p>
                <p style="color: gray; font-size: 13px;padding-left: 0px;">Sizes: <span
                        style="font-weight: 700;color: black; opacity: 1;">M:{{productdata.m}}, L:{{productdata.l}},
                        <br>
                        XL:{{productdata.xl}}, 2XL:{{productdata.twoxl}}
                    </span> </p>
            </div>
        </div>

        <!--red border -->
        <div class="container-fluid1">
            <div class="boder">

            </div>
        </div>
        <!--red border -->
    </div>




    <div class="container3">
        <div class="row">
            <div class="box4">
                <div>
                    <img src="{{imgConfig}}/{{productdata.file1}}" alt="" style="height: 90px; width: 90px;">
                </div>
                <div>
                    <p class="pp">SW 5300 BLACK</p>
                    <p class="pp">{{productdata.color}}</p>
                    <p class="pp1">M:{{productdata.m}} L:{{productdata.l}} XL:{{productdata.xl}}
                        2XL:{{productdata.twoxl}}</p>
                    <p class="pp1">QTY: 88</p>
                </div>
            </div>
           
        </div>

    </div>
</form>

<div class="container5">
    <div class="box6">
        <a href="/sample-details.component?proddata={{this.productdata.id}}"><input type="submit" value="Simple history"
                class="mybtn"></a> <br>
        <a href="/completed.component?proddata={{this.productdata.id}}"><input type="submit" value="Completed"
                class="mybtn1"></a>
        <input type="submit" value="Cancel" class="mybtn2"> <br>
        <p style="font-size: 12px; margin-top: 30px;color: gray;">Approved By: <span
                style="font-weight: bold; color: black; "> Mohit Arora | #BA14353 | 27/12/22</span></p>
    </div>
    <div class="box6">
        <img src="assets/images/pdf.png" alt="" class="imga">
    </div>

</div>