<div class="container-fluid main1">
    <div class="row reverse"><a href="javascript:history.back()"><img src="assets/images/back.svg" width="120%;"></a>
    </div>
    <div class="title">
        <h2 style="font-size:20px;">Sample Details</h2>
    </div>
    <div class="row home">
        <a routerLink="/home.component"><img src="assets/images/home.svg" width="28px;"></a>
    </div>
</div>




<form action="" [formGroup]="superForm" (ngSubmit)="onSubmit()">

    <!-- start my html -->
    <div class="container">
        <img src="{{imgConfig}}/{{productdata.file1}}" alt="" class="container-img"> <br>
        <p style="text-align: center; padding-top:7px; color: #C51724;font-weight: bold;">BoutiquesAsia | #BA56342</p>

        <p style="text-align: center;padding-left: 0%; padding-top: 14px; color: #000000; font-weight: 500;">Style No.:
            <span style="font-weight: bold;">SW 5300</span>
        </p>
        <p style=" text-align: center; color: #116418;">{{productdata.status}}</p>
    </div>

    <div class="container1">
        <div class="boder">

        </div>
    </div>


    <div class="container2">
        <div class="box">
            <p style="color: gray;font-size: 13px;">Brand: <span
                    style="font-weight: 500; color: #000000;font-size: 14px;">{{productdata.brand}}</span> </p>
            <p style="color: gray;font-size: 13px;">Category: <span
                    style="font-weight:  500; color: #000000;font-size: 14px;">{{productdata.category}}</span> </p>
        </div>
        <div class="box1">
            <p  class="season1">Season: <span
                    style="font-weight: 500; color: #000000;font-size: 14px;">{{productdata.season}}</span> </p>
            <p class="lotno">Lot No.:<span
                    style="font-weight:  500; color: #000000;font-size: 13px; padding-left: 3px;">2022/12/1/5324/SW</span>
            </p>
        </div>
    </div>


    <div class="main3">
        <div class="row">
            <div class="submain">
                <div class="childmain">
                    <img src="{{imgConfig}}/{{productdata.file1}}" alt="" height="85px" width="85px">
                    <p style="font-size: 13px;">{{productdata.color}}</p>
                </div>
                <div class="childmain">
                    <div class="subchildmain">
                        <div style="display: flex; align-items: center;" >
                            <input type="checkbox" class="chek4" formControlName="s"><label for="" class="label2">S</label><input
                                type="text" class="inp1"  id="s" >                               
                        </div>
                        <div style="display: flex; align-items: center; padding-top: 12px;">
                            <input type="checkbox" class="chek4" formControlName="m"><label for="" class="label2">M</label><input
                                type="text" class="inp"  id="m" >
                        </div>
                        <div style="display: flex; align-items: center; padding-top: 12px;">
                            <input type="checkbox" class="chek4" formControlName="l"><label for="fivexl" class="label2">L</label><input
                                type="text" class="inp1"  id="fivexl">
                        </div>
                        <div style="display: flex; align-items: center; padding-top: 12px;">
                            <input type="checkbox" class="chek4" formControlName="xl"><label for="" class="label2">XL</label><input
                                type="text" class="inp"  id="m" >
                        </div>
                    </div>
                </div>
                <div class="childmain">
                    <div style="margin-top: 10px; font-size: 50px;font-weight: 200; margin-right: 30px;">
                        66
                    </div>
                </div>
            </div>
           
        </div>
    </div>

    <div class="container6">
        <div class="box5">
            <label for="">Order Placed By</label> <input type="text" placeholder="Kirtika"
                style="width: 160px; border: 1px solid gray; height: 40px; border-radius: 3px; outline: none;padding-left: 10px;">
            <br><br>
            <label for="">Delivery Date</label> <input type="text"
                style="width: 160px; border: 1px solid gray; height: 40px; border-radius: 3px;outline: none; padding-left: 10px;">
   

        </div>
        <div class="box5">
            <label for="">Quantity</label> <input type="text"
                style="width: 160px; outline: none; border: 1px solid gray; height: 40px; border-radius: 3px; padding-left: 10px;">
            <br><br>
            <label for="">Total Cost</label> <br><img src="assets/images/rupee.png" alt=""
                style="height: 27px; width: 20px; margin-top: -9px;"><input type="text" formControlName="price"
                style="width: 136px; outline: none; border: 1px solid gray; height: 40px; border-radius: 3px;padding-top: 4px; padding-left: 10px;">     
        </div>
    </div>
</form>





<div class="lastbt" style=" height:180px;width: 100%; display:flex; justify-content: space-between; padding: 20px;" >
    <div class="subbutton">
        <a href="/orderdetails.component?proddata={{this.productdata.id}}"><input type="submit" name="" id=""
                value="PLACE ORDER" class="btn"></a>
    </div>
    <div class="subbutton1">
        <a href="" class="li">Cancel</a>
    </div>
</div>
<!-- end my html -->




<div class="container-fluid sticky">
    <div class="row" style="justify-content: center !important;margin: 0px;">
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/supernewdesign.component"><img src="/assets/images/New Design empty.svg" width="27px;"></a>
            <h6>New Design</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superorder.component"><img src="/assets/images/Order history.svg" width="37px;"></a>
            <h6>Order History</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superreapet.component"><img src="/assets/images/Repeat order.svg" width="37x;"></a>
            <h6>Repeat Order</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superprofile.component"><img src="/assets/images/1.1.svg" width="35px;"></a>
            <h6>User Profile</h6>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3 collll">
            <a routerLink="/superadminprofile.component"><img src="/assets/images/1.2.svg" width="35px;"></a>
            <h6>My Profile</h6>
        </div>
    </div>
</div>