<div class="container-fluid">
    <img src="{{imgConfig}}/{{productdata.file1}}" alt="" class="myimg">

    <div class="mainbox">
        <div class="box">
            <p style="color: #C51724;  opacity: 1;font-weight:900;margin-right: 8px; font-family: lato;padding-top: 4px;"
                class="ri">BoutiquesAsia | #BA56342</p>
            <p style="color: gray; font-size: 13px; padding-top: 12px;" class="ri">Job Order No.: <span
                    style="font-weight: 600;color: black; opacity: 1;">#GP985</span> </p>
            <p style="color: gray; font-size: 13px;" class="ri">Style No.: <span
                    style="font-weight: 600;color: black; opacity: 1;">
                    SW 5300</span> </p>
            <p style="color: gray; font-size: 13px; " class="ri">Merchandiser: <span
                    style="font-weight: 600;color: black; opacity: 1;">Sunny</span> </p>
            <p style="color: gray; font-size: 13px;  " class="ri">Category: <span
                    style="font-weight: 600;color: black; opacity: 1;">{{productdata.category}}</span> </p>
            <p style="color: gray; font-size: 13px; " class="ri">Gender: <span
                    style="font-weight: 600;color: black; opacity: 1;">{{productdata.gender}} </span> </p>
            <p style="color: gray; font-size: 13px;" class="ri">Amount:<span
                    style="font-weight: 600;color: black; opacity: 1;"> INR
                    {{productdata.price}}</span> </p>
        </div>
        <div class="box1">
            <p style="color:#116418; font-weight: 600;padding-left: 35px;padding-top: 4px; font-size: 14px;" class="du">
                COMPLETED</p>
            <p style="color: gray; font-size: 13px; padding-top: 12px;    padding-left: 69px;">Brand: <span
                    style="font-weight: 600;color: black; opacity: 1;">{{productdata.brand}}</span> </p>
            <p style="color: gray; font-size: 13px;padding-left: 27px;">Dated: <span
                    style="font-weight: 600;color: black; opacity: 1;">
                    12/11/22</span> </p>
            <p style="color: gray; font-size: 13px;padding-left: 13px;">Delivery:<span
                    style="font-weight: 600;color: black; opacity: 1;">
                    12/12/22</span> </p>
            <p style="color: gray; font-size: 13px;padding-left: 64px;">QTY: <span
                    style="font-weight: 600;color: black; opacity: 1;">340</span>
            </p>
            <p style="color: gray; font-size: 13px;padding-left: -1px;">Sizes: <span
                    style="font-weight: 600;color: black; opacity: 1;">M:{{productdata.m}}, L:{{productdata.l}},
                  <br>  XL{{productdata.xl}}, 2{{productdata.twoxl}}
                </span> </p>
        </div>
    </div>

    <!--red border -->
    <div class="container-fluid1">
        <div class="boder">

        </div>
    </div>
    <!--red border -->
</div>

<div class="container3">
    <div class="row">
        <div class="box4" >
            <div>
                <img src="{{imgConfig}}/{{productdata.file1}}" alt="" style="height: 90px; width: 90px;">
            </div>
            <div>
                <p class="pp">SW 5300 BLACK</p>
                <p class="pp">{{productdata.color}}</p>
                <p class="pp1">M:{{productdata.m}} L:{{productdata.l}} XL:{{productdata.xl}} 2XL:{{productdata.twoxl}}</p>
                <p class="pp1">QTY: 88</p>
            </div>
        </div>
        
    </div>
</div>




<div class="buttongroup">
    <input type="submit" value="Sample History" class="btn1">
    <br>
    <input type="submit" value="Completed" class="hello">
   <a href="/super-admin-reapet.component?proddata={{this.productdata.id}}"><input type="submit" value="Repeat" class="btn2"></a>
</div>

<form action="">

    <div class="container-fluid1">
        <div class="box3">
            <h5 style="color: #000000; padding-left: 21px; font-weight: 700;">Rate and Review</h5>
            <div class="boder1"> </div>

            <div class="inner">
                <div class="out">
                    <p style="font-size: 50px; color: #C51724; opacity: 1px; font-weight: 200;padding-left: 20px;">3.8
                    </p>
                </div>
                <div class="out">
                    <img src="assets/images/edit.jpg" alt="" style="height: 25px; width: 25px;    margin-top: 21px;
                margin-right: 14px;">
                </div>
            </div>

        </div>
        <div class="box7">
            <p style="color: #000000; padding-left: 21px; font-weight: 600;  font-size: 14px; margin-top: -30px;">
                Stitching
                Quality <span class="star">
                    <rating cancel='true'></rating>
                </span></p>
            <p style="color: #000000; padding-left: 21px;padding-top: 0px;  font-weight: 600; font-size: 14px; ">Fitting
                <span class="star1">
                    <rating cancel='true'></rating>
                </span>
            </p>
            <p style="color: #000000; padding-left: 21px;padding-top: 3px;  font-weight: 600; font-size: 14px;">
                Finishing
                <span class="star2">
                    <rating cancel='true'></rating>
                </span>
            </p>
            <p style="color: #000000; padding-left: 21px;padding-top: 3px;  font-weight: 600; font-size: 14px;">Press
                <span class="star3">
                    <rating cancel='true'></rating>
                </span></p>
            <p style="color: #000000; padding-left: 21px;padding-top: 3px;  font-weight: 600; font-size: 14px;">Packing
                <span class="star4">
                    <rating cancel='true'></rating>
                </span>
            </p>
        </div>
        <div class="box5">
            <h5 style="color: #000000; padding-left: 21px; font-weight: 700;">Feedback</h5>
            <div class="boder2"> </div>
            <textarea name="" id="" cols="30" rows="10"
                class="myinp">Service is a lil slow. Delivery of products will be late. I mean some clothes will take a lot of time 10-20 days but yes the clothes are worth the wait. So a suggestion if you have something really important, trip or event order well in advance.</textarea>
            <div class="father">
                <div class="child">

                </div>
                <div class="child">
                    <img src="assets/images/pdf.png" alt="" class="btn">
                </div>
            </div>
        </div>
    </div>
</form>